<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<div class="tittle">
    <h1>DEPORTES</h1>
</div>
<div class="container">
    <div class = "row">
        <div>
            <form [formGroup]="sugerencia">
                <div class="form-group">
                  <label for="usuario">Usuario: </label>
                  <input type="text" class="form-control" formControlName="usuario" placeholder="Ingresa tu nombre">
                  @if(this.sugerencia.controls['usuario'].hasError('required') && this.sugerencia.controls['usuario'].touched){
                    <small class="alert-validation" style="color: red;">Este campo es requerido</small>
                  }
                </div>
                <br>
                <div class="form-group">
                  <label for="correo">Titulo :</label>
                  <input type="email" class="form-control" formControlName="correo" placeholder="Ingresa tu correo electrónico">
                  @if(this.sugerencia.controls['correo'].hasError('required') && this.sugerencia.controls['correo'].touched){
                    <small class="alert-validation" style="color: red">Este campo es requerido</small>
                  }
                </div>
                <br>
                <div class="form-group">
                  <label for="date">Fecha: </label>
                  <input type="datetime-local" class="form-control" formControlName="date">
                  @if(this.sugerencia.controls['date'].hasError('required') && this.sugerencia.controls['date'].touched){
                    <small class="alert-validation" style="color: red;">Este campo es requerido</small>
                  }
                </div>
                <br>
                <div class="form-group">
                <label for="valoracion">Valoración: </label>
                  <select class="form-select" aria-label="Default select example" formControlName="valoracion">
                    <option value="1" style="color: green">Aprobado</option>
                    <option value="3" style="color: red">Denegado</option>
                  </select>
                @if(this.sugerencia.controls['valoracion'].hasError('required') && this.sugerencia.controls['valoracion'].touched){
                  <small class="alert-validation" style="color: red;">Este campo es requerido</small>
                }
                </div>
                <br>
                <div class="form-group">
                  <label for="mensaje">Estado:</label>
                  <input  type="number" class="form-control" formControlName="estado" placeholder="Escribe tu mensaje">
                  @if(this.sugerencia.controls['estado'].hasError('required') && this.sugerencia.controls['estado'].touched){
                    <small class="alert-validation" style="color: red;">Este campo es requerido</small>
                  }
                </div>
                <br>
                <div class="button">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
              </form>
            </div>
        </div>
    </div>
