<div class="mb-4" id="tittle">
    <h1>DEPORTES</h1>
<a routerLink="/page-deportes/deportes/list">envio</a>
  <button type="button" routerLink="/page-deportes/deportes/list">Pasar</button>
</div>
<div class="container col-6">
    <div class = "col-11 mx-auto mt-2">
        <div>
          <div class="subtittle">
            <p style="color: blue">Fields marked with <b style="color: red">*</b> are required</p>
          </div>
            <form [formGroup]="sugerencia">
                <div class="mb-3">
                  <label for="user">UserName: <b style="color: red">*</b></label>
                  <input type="text" id="user" class="form-control"  formControlName="user" placeholder="Insert your username">
                  @if(userField.errors){
                    @if (userField.errors['required'] && userField.touched){
                      <small style="color: red;">This field is required</small>
                    }
                    @if (userField.errors['minlength']){
                      <small class="alert-validation" style="color: red;">Minimo de letras es 4</small>
                    }
                  }
                </div>

                <div class="mb-3">
                  <label for="email">Email: <b style="color: red">*</b></label>
                  <input type="email" id="email" class="form-control" formControlName="email" placeholder="Insert your email">
                  @if(emailField.errors){
                    @if (emailField.errors['required'] && emailField.touched){
                      <small class="alert-validation" style="color: red;">Este campo es requerido</small>
                    }
                    @if (emailField.errors['pattern']){
                      <small style="color: red;">Email incorrecto (ejemplo123#64gmail.com)</small>
                    }
                  }
                </div>

                <div class="mb-3">
                  <label for="date">Date: <b style="color: red">*</b></label>
                  <input type="datetime-local" id="date" class="form-control" formControlName="date">
                  @if(dateField.errors){
                    @if (dateField.errors['required'] && dateField.touched){
                      <small class="alert-validation" style="color: red;">Este campo es requerido</small>
                    }
                  }
                </div>

                <div class="mb-3">
                <label for="state">Estado: <b style="color: red">*</b></label>
                  <select class="form-select" id="state" aria-label="Default select example" formControlName="state">
                    <option style="color: green">Aprobado</option>
                    <option style="color: red">Denegado</option>
                  </select>
                  @if(stateField.errors){
                    @if (stateField.errors['required'] && stateField.touched){
                      <small class="alert-validation" style="color: red;">Este campo es requerido</small>
                    }
                  }
                </div>

                <div class="mb-3">
                  <label for="assessment">State: <b style="color: red">*</b></label>
                  <input  type="number" id="assessment" class="form-control" formControlName="assessment" placeholder="Escribe tu mensaje">
                  @if(assessmentField.errors){
                    @if (assessmentField.errors['required'] && assessmentField.touched){
                      <small class="alert-validation" style="color: red;">Este campo es requerido</small>
                    }
                  }
                </div>
                <br>
                <div class= "row d-flex justify-content-center mb-3">
                    <button type="submit" class="btn btn-success" style="width:100px;" (click)="validate()">Send</button>
                </div>
              </form>
            </div>
        </div>
    </div>
