<body>
  <div class="head-title">
    <div class="left" style="margin-top: 30px; margin-left: 20px;">
      <h1>Mi Rincón Musical</h1>
    </div>
  </div>
  <!-- MAIN -->
  <main class="main-content">
   
    <div class="form-container">
      <p-card header="Agregar Playlist" [style]="{ 'max-width.px': '800' }" class="mb-5">
        <form [formGroup]="form" class="p-fluid">
          <div class="p-field" style="margin-bottom: 20px;">
            <label for="name">Nombre de la Playlist</label>
            <input id="name" type="text" formControlName="name" class="p-inputtext" />
            @if(name.errors){
            @if(name.touched){
            @if (name.errors['required']) {
            <span class="p-error">El campo name es requerido</span>
            }

            @if (name.errors['minlength']) {
            <span class="p-error">El campo name debe contener al menos 2 caracteres</span>
            }

            }
            }
          </div>

          <div class="p-field-checkbox" style="margin-bottom: 20px;">
            <p-inputSwitch inputId="esSingle" formControlName="esSingle" binary="true"
              label="¿Es un sencillo?"></p-inputSwitch>
          </div>

          <div class="p-field" style="margin-bottom: 20px;">
            <label for="date">Fecha</label>
            <input id="date" type="date" formControlName="date" class="p-inputtext" />
            
          @if(date.errors){
            @if(date.touched){
            @if (date.errors['required']) {
            <span class="p-error">El campo fecha es requerido</span>
            
            }
  
            }
            }
          </div>


          <div class="p-field" style="margin-bottom: 20px;">
            <label for="artist">Artista</label>
            <input id="artist" type="text" formControlName="artist" class="p-inputtext" />
            
          @if(artist.errors){
            @if(artist.touched){
            @if (artist.errors['required']) {
            <span class="p-error">El campo Artista es requerido</span>
            }
  
            @if (artist.errors['minlength']) {
            <span class="p-error">El campo Artista debe contener al menos 2 caracteres</span>
            }
  
            }
            }
          </div>


          <div class="p-field" style="margin-bottom: 20px;">
            <label for="description">Descripción</label>
            <input id="description" type="text" formControlName="description" class="p-inputtext" />
            
          @if(description.errors){
            @if(description.touched){
            @if (description.errors['required']) {
            <span class="p-error">El campo descripcion es requerido</span>
            }
  
            @if (description.errors['minlength']) {
            <span class="p-error">El campo descripcion debe contener al menos 10 caracteres</span>
            }
  
            }
            }
          </div>


          <div class="p-field" style="margin-bottom: 20px;">
            <label for="num">Número</label>
            <input id="num" type="number" formControlName="num" class="p-inputtext" />
            @if(num.errors){
              @if(num.touched){
              @if (num.errors['required']) {
              <span class="p-error">El campo numero es requerido</span>
              }
    
              @if (num.errors['pattern']) {
              <span class="p-error">Solo numeros</span>
              }
    
              }
              }
          </div>

        

          <p-button label="Submit" icon="pi pi-check" iconPos="right" [style]="{ 'max-width.px': '200', 'margin-top':'30px' }"/>
        </form>
      </p-card>
    </div>
  </main>
  <!-- MAIN -->
</body>