<!--SIDEBAR-->

<body>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  
  
  
    <!-- CONTENT -->
  
  
    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left" style="margin-top: 30px; margin-left: 20px;">
          <h1>Mi Rincón Musical</h1>
        </div>
      </div>
  
      <div class="table-data container col-md-6" style="margin-top: 40px;">
        <form class="row shadow p-3 mb-5 bg-body-tertiary rounded" [formGroup]="form">
          <div class="col-12 me-auto" style="margin-top: 20px">

            <label for="name" class="form-label">Nombre de mi playlist</label>
            <input type="text" id="name" formControlName="name" class="form-control"/>
  
          </div>

          <div  style="margin-top: 5px;">
            <label >
              <input type="checkbox" formControlName="esSingle"> ¿Es un sencillo?
            </label>
          </div>

          <div class="col-6 me-auto" style="margin-top: 20px">
            <label for="date" class="form-label">Fecha</label>
            <input type="date" id="date" class="form-control" formControlName="date" />
          </div>
  
          <div class="col-6 me-auto" style="margin-top: 20px">
            <label for="artista" class="form-label">Artista</label>
            <input type="text" id="artista" class="form-control" formControlName="artista" />
  
          </div>
  
          <div class="col-6 me-auto" style="margin-top: 20px">
            <label for="descripcion" class="form-label">Descripcion</label>
            <input type="text" id="descripcion" class="form-control" formControlName="descripcion" />
          </div>

          <div class="col-6 me-auto" style="margin-top: 20px">
            <label for="num" class="form-label">Numero</label>
            <input type="number" id="num" class="form-control" formControlName="num" />
          </div>
  
          <div class="col-6 me-auto" style="margin-top: 20px">
            <label for="estado" class="form-label">Estado</label>
            <select type="text" id="estado" class="form-control" formControlName="estado" >
                <option selected></option>
                <option value="1">Descargada</option>
                <option value="2">Buscar</option>
                <option value="3">Recomendacion</option></select>
  
          </div>
  
        
          <div class="d-grid gap-2 col-6 mx-auto" style="margin-top: 30px;">
            <button type="submit" class="btn btn-success btn-lg" (click)="validateForm()">Agregar</button>
          </div>
        </form>
      </div>
    </main>
    <!-- MAIN -->
  
    <script src="script.js"></script>
  </body>