<p>main works!</p>
<br>
<form [formGroup]="autoForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="marca">Marca:</label>
    <input type="text" id="marca" formControlName="marca">
  </div>
  <div>
    <label for="modelo">Modelo:</label>
    <input type="text" id="modelo" formControlName="modelo">
  </div>
  <div>
    <label for="año">Año:</label>
    <input type="number" id="año" formControlName="año">
  </div>
  <div>
    <label for="color">Color:</label>
    <input type="text" id="color" formControlName="color">
  </div>
  <button type="submit" [disabled]="autoForm.invalid">Guardar</button>
</form>

<br>
<form [formGroup]="motoForm" (ngSubmit)="onSubmit()" class="container mt-4">
  <div class="form-group">
    <label for="marca">Marca:</label>
    <input type="text" id="marca" class="form-control" formControlName="marca">
  </div>
  <div class="form-group">
    <label for="modelo">Modelo:</label>
    <input type="text" id="modelo" class="form-control" formControlName="modelo">
  </div>
  <div class="form-group">
    <label for="año">Año:</label>
    <input type="number" id="año" class="form-control" formControlName="año">
  </div>
  <div class="form-group">
    <label for="color">Color:</label>
    <input type="text" id="color" class="form-control" formControlName="color">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="motoForm.invalid">Guardar</button>
</form>

