<table class="game-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Categories</th>
        <th>Release Date</th>
        <th>Platform</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Halo Infinite</td>
        <td>Shooter</td>
        <td>December 8, 2021</td>
        <td>Xbox, PC</td>
      </tr>
      <tr>
        <td>Elden Ring</td>
        <td>Action-RPG</td>
        <td>February 25, 2022</td>
        <td>PlayStation, Xbox, PC</td>
      </tr>
      <tr>
        <td>The Last of Us Part II</td>
        <td>Action-Adventure</td>
        <td>June 19, 2020</td>
        <td>PlayStation</td>
      </tr>
      <tr>
        <td>Forza Horizon 5</td>
        <td>Racing</td>
        <td>November 9, 2021</td>
        <td>Xbox, PC</td>
      </tr>
      <tr>
        <td>Resident Evil Village</td>
        <td>Survival Horror</td>
        <td>May 7, 2021</td>
        <td>PlayStation, Xbox, PC</td>
      </tr>
    </tbody>
  </table>
  