<p>auto works!</p>
<form [ngFormOptions]="autoForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="marca">Marca:</label>
    <input type="text" id="marca" formControlName="marca">
  </div>
  <div>
    <label for="modelo">Modelo:</label>
    <input type="text" id="modelo" formControlName="modelo">
  </div>
  <div>
    <label for="año">Año:</label>
    <input type="number" id="año" formControlName="año">
  </div>
  <div>
    <label for="color">Color:</label>
    <input type="text" id="color" formControlName="color">
  </div>
  <button type="submit" [disabled]="autoForm.invalid">Guardar</button>
</form>
