.container {
    display: d-flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .table {
    width: auto; 
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }
 h2{
    
    text-align: center;
    justify-content: center;
 }