<h2>Lista</h2>
<table class="table table-striped"> <thead>
    <tr>
      <th>User</th>
      <th>Email</th>
      <th>Date</th>
      <th>Status</th>
      <th>Assessment</th>
      <th>Editar</th>
    </tr>
  </thead>
  <tbody>
    @for (item of categories; track item.email){
      <tr>
        <td>{{ item.user }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.state }}</td>
        <td>{{ item.assessment }}</td>
        <td><button (click)="edit(item)">Editar</button> </td>
      </tr>
    }
  </tbody>
</table>
